@charset "utf-8";

header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);

  position:fixed;
  top:0;



  z-index:10;


}
.logo {
  width: 60px;
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.row{
  margin-top: 100px;
  color: black;

}
.new1{
  font-size:30;
}
.bar{
  border-width: 3px;
  border-color: black;
}
h1{
  font-size: 25px;
    font-weight: bold;
    margin: 0;
  text-align: center;
}
.align-light{
    text-align: right;
}
.form-group{
  margin-bottom: 35px;
}
footer p{
  text-align: center;
}
input:required{
  background: white;
}
input[type="email"]:invalid{
  background: white;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}
/* 上に戻るボタン */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}
/* ここまで上に上がるボタン書いた */
